@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "JetBrains Mono", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #06192f;
  overflow-x: hidden;
}

button {
  font-family: "JetBrains Mono", sans-serif;
  cursor: pointer;
  border: none;
}

#vantabg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.75;
    width: 30px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
    animation: MoveUpDown 1s linear infinite;

    &:hover {
      opacity: 0.5;
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 20px;

    .binary-number {
      -webkit-touch-callout: none;
      -webkit-user-select: text;
      user-select: text;
    }

    h1 {
      font-size: 50px;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .binary {
      text-align: center;
      width: 100%;

      h1 {
        padding: 0;
        margin: 0;
      }
    }

    .paragraph {
      text-align: justify;

      .button-container {
        position: relative;
        width: 275px;

        button {
          padding: 10px;
          border-radius: 10px;
          background: #2fdbb6;
          transition: 0.15s ease-in-out;
          font-size: 22px;
          text-align: center;
          text-decoration: none;
          color: black;

          &:hover {
            background: #1da88a;
          }
        }
      }

      .code {
        display: none;
      }

      .button-container canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      .img-caption {
        margin-top: 10px;
        font-size: 14px;
        color: #b4b0d8;
      }

      h1 {
        font-size: 40px;
      }

      a {
        transition: 0.15s ease-in-out;
        color: yellow;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .footer {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 560px) {
  .paragraph {
    .binary-img {
      height: 200px;
      width: 300px;
    }

    .ASCII {
      height: 300px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 360px) {
  .paragraph {
    .binary-img {
      height: 150px;
      width: 220px;
    }

    .ASCII {
      height: 200px;
      width: 200px;
    }
  }
}

@media screen and (min-width: 560px) {
  .paragraph {
    .ASCII {
      height: 500px;
      width: 500px;
    }
  }
}

@media screen and (min-width: 1700px) {
  .paragraph {
    width: 60%;
  }
}

@media screen and (max-width: 1700px) {
  .paragraph {
    width: 80%;
  }
}
