@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  color: #fff;
  background-color: #06192f;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  margin-bottom: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.h3 {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
    position: sticky;
    top: 0;
    background: rgba(11, 17, 32, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid #202534;
    z-index: 2;

    .logo {
      width: auto;
      height: auto;
      margin-right: 10px;
    }

    .header-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .content {
      justify-content: space-between;
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    a {
      color: #b6828e;
      transition: 0.15s ease-in-out;

      .social-media {
        transition: 0.15s ease-in-out;
        cursor: pointer;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #510d15;

    .text {
      display: flex;
      justify-content: center;
      align-items: start;
      flex: 1;
      box-sizing: border-box;
      flex-direction: column;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      i {
        margin: 0;
      }

      .subtitles {
        margin-top: 20px;
      }
    }

    .image {
      flex: 1;
      height: 525px;
      box-sizing: border-box;
    }

    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon {
    height: 75px;
    width: 75px;
    fill: #fff;
  }

  .stats {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;

    .description {
      margin-top: 0;
    }

    .number {
      margin-bottom: 0;
    }

    .stat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 0.1px solid #fff;
      padding: 20px;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .photos {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    gap: 15px;

    .photo {
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border-radius: 8px;

      &:hover {
        transform: scale(1.05);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }

      &:hover .overlay {
        opacity: 1;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
        text-align: center;
        padding: 10px;
        opacity: 0;
      }
    }
  }

  .info {
    margin-top: 20px;
    padding: 10px;
    background: #510d15;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: left;

    a {
      color: #b6828e;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .faq-item {
    border-bottom: 1px solid #ccc;
  }

  .faq-question {
    width: 100%;
    padding: 15px;
    background-color: #510d15;
    color: white;
    font-size: 1rem;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;
    gap: 30px;
    transition: background-color 0.3s ease;

    .icon {
      width: 25px;
      height: 25px;
    }
  }

  .faq-question:hover {
    background-color: #7a1b28;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
  }

  .faq-answer p {
    margin: 10px 0;
  }

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    padding: 20px 0 20px 0;

    .content {
      flex-direction: column;
      padding: 20px 0 20px 0;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    width: 100%;

    .content {
      justify-content: space-between;
    }
  }
}

@media (max-width: 1100px) {
  .welcome {
    .content {
      flex-direction: column;
      width: 100%;
    }

    .text {
      padding: 100px 0 100px 0;
      width: 90%;
    }

    .title {
      font-size: 18px;
    }
  }
}

@media (min-width: 1100px) {
  .welcome {
    .text {
      padding: 20px 20px 20px 0;
    }
  }
}

@media (min-width: 0px) {
  .content {
    width: 90%;
  }
}

@media (min-width: 1700px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2150px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 2800px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 3300px) {
  .content {
    width: 40%;
  }
}

@media (max-width: 550px) {
  .footer {
    .content {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .header-title {
    font-size: 10px;
  }

  .logo {
    max-height: 15px;
  }

  .links {
    a {
      font-size: 10px;
    }

    .social-media {
      width: 20px;
    }
  }
}

@media (min-width: 400px) {
  .header-title {
    font-size: 15px;
  }

  .logo {
    max-height: 35px;
  }

  .links {
    a {
      font-size: 15px;
    }

    .social-media {
      width: 25px;
    }
  }
}

@media (min-width: 650px) {
  .header-title {
    font-size: 22px;
  }

  .logo {
    max-height: 75px;
  }

  .links {
    a {
      font-size: 22px;
    }

    .social-media {
      width: 35px;
    }
  }
}
